# python byte-compiled / optimized files
__pycache__/
*.py[co]

# Virtual environments
.tox/
.venv/
_venv/

# Linters / tools
.bash_history
.conan
.mypy_cache

# IDEs
.idea/
.vs/

# OS - specific
.DS_Store
